body {
  font-family: "Inter", sans-serif;
}

#root {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  margin-bottom: 48px;
}

.component-library-wrapper {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.component-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.component-variant-wrapper {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.component-variant-wrapper-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
